<footer class="mt-12 md:mt-32 mb-8 text-center">
    <small class="opacity-80 text-sm mt-1">
      <div id="bottom-inner">
        © 2021 Site by <%=config.author%> using
        <a href="http://hexo.io">hexo blog framework</a>.
        <br>
        <p> Theme is <a href="https://github.com/hungle00/lmh-hexo-blog">Jedi</a></p>
      </div>
    </small>
  </footer>
  
  <%- partial('partials/scripts') %>